<!DOCTYPE html>
<html>

<head>
  <title>eighty1 Designs</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  <link href="../assets/plugins/socicon/socicon.css" rel="stylesheet" type="text/css" />
  <link href="../assets/plugins/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css" />
  <link href="../assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/plugins/animate/animate.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <!-- END GLOBAL MANDATORY STYLES -->
  <!-- BEGIN: BASE PLUGINS  -->
  <link href="../assets/plugins/revo-slider/css/settings.css" rel="stylesheet" type="text/css" />
  <link href="../assets/plugins/revo-slider/css/layers.css" rel="stylesheet" type="text/css" />
  <link href="../assets/plugins/revo-slider/css/navigation.css" rel="stylesheet" type="text/css" />
  <link href="../assets/plugins/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="../assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
  <link href="../assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
  <link href="../assets/plugins/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />
  <link href="../assets/plugins/slider-for-bootstrap/css/slider.css" rel="stylesheet" type="text/css" />
  <!-- END: BASE PLUGINS -->
  <!-- BEGIN THEME STYLES -->
  <link href="../assets/base/css/plugins.css" rel="stylesheet" type="text/css" />
  <link href="../assets/base/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
  <link href="../assets/base/css/themes/default.css" rel="stylesheet" id="style_theme" type="text/css" />
  <link href="../assets/base/css/custom.css" rel="stylesheet" type="text/css" />
  <!-- END THEME STYLES -->
  <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now -->
</head>

<body class="c-layout-header-fixed c-layout-header-mobile-fixed">
  <!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
  <!-- BEGIN: HEADER -->
  <header class="c-layout-header c-layout-header-4 c-layout-header-default-mobile" data-minimize-offset="80">
    <div class="c-navbar">
      <div class="container">
        <!-- BEGIN: BRAND -->
        <div class="c-navbar-wrapper clearfix">
          <div class="c-brand c-pull-left">
            <a href="index.html" class="c-logo">
              <img src="../assets/base/img/layout/logos/logo-3.png" alt="JANGO" class="c-desktop-logo">
              <img src="../assets/base/img/layout/logos/logo-3.png" alt="JANGO" class="c-desktop-logo-inverse">
              <img src="../assets/base/img/layout/logos/logo-3.png" alt="JANGO" class="c-mobile-logo"> </a>
            <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
              <span class="c-line"></span>
              <span class="c-line"></span>
              <span class="c-line"></span>
            </button>
            <button class="c-topbar-toggler" type="button">
              <i class="fa fa-ellipsis-v"></i>
            </button>
            <button class="c-search-toggler" type="button">
              <i class="fa fa-search"></i>
            </button>
            <button class="c-cart-toggler" type="button">
              <i class="icon-handbag"></i>
              <span class="c-cart-number c-theme-bg">2</span>
            </button>
          </div>
          <!-- END: BRAND -->
          <!-- BEGIN: QUICK SEARCH -->
          <form class="c-quick-search" action="#">
            <input type="text" name="query" placeholder="Type to search..." value="" class="form-control" autocomplete="off">
            <span class="c-theme-link">&times;</span>
          </form>
          <!-- END: QUICK SEARCH -->
          <!-- BEGIN: HOR NAV -->
          <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
          <!-- BEGIN: MEGA MENU -->
          <!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
          <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
            <ul class="nav navbar-nav c-theme-nav">
              <li class="c-menu-type-classic">
                <a href="http://www.eighty1designs.com" class="c-link dropdown-toggle">Home
                                        <span class="c-arrow c-toggler"></span>
                                    </a>
              </li>
              <li class="c-menu-type-classic">
                <a href="www.eighty1designs.com/aboutUs.html" class="c-link dropdown-toggle">About Us
                                        <span class="c-arrow c-toggler"></span>
                                    </a>
              </li>
              <li class="c-menu-type-classic">
                <a href="www.eighty1designs.com/portfolio.html" class="c-link dropdown-toggle">Portfolio
                                        <span class="c-arrow c-toggler"></span>
                                    </a>
              </li>
              <li class="c-active c-menu-type-classic">
                <a href="http://eighty1designs.com/blog" class="c-link dropdown-toggle">Blog
                                        <span class="c-arrow c-toggler"></span>
                                    </a>
              </li>
              <li class="c-search-toggler-wrapper">
                <a href="#" class="c-btn-icon c-search-toggler">
                  <i class="fa fa-search"></i>
                </a>
              </li>
              <li class="c-quick-sidebar-toggler-wrapper">
                <a href="#" class="c-quick-sidebar-toggler">
                  <span class="c-line"></span>
                  <span class="c-line"></span>
                  <span class="c-line"></span>
                </a>
              </li>
            </ul>
          </nav>
          <!-- END: MEGA MENU -->
          <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
          <!-- END: HOR NAV -->
        </div>
        <!-- BEGIN: LAYOUT/HEADERS/QUICK-CART -->
        <!-- BEGIN: CART MENU -->
        <!-- END: CART MENU -->
        <!-- END: LAYOUT/HEADERS/QUICK-CART -->
      </div>
    </div>
  </header>

  <div class="c-layout-page">

        <article class="post">
          <h1>{{ page.title }}</h1>

          <div class="entry">
            {{ content }}
          </div>

          <div class="date">
            Written on {{ page.date | date: "%B %e, %Y" }}
          </div>

          {% include disqus.html %}
        </article>